.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rec-button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.rec-button i {
  color: #cbcbcb;
  font-size: 150%;
}

@-webkit-keyframes color-change {
  100% { color: #aa0000; }
}
@-moz-keyframes color-change {
  100% { color: #aa0000; }
}
@-ms-keyframes color-change {
  100% { color: #aa0000; }
}
@-o-keyframes color-change {
  100% { color: #aa0000; }
}
@keyframes color-change {
  100% { color: #aa0000; }
}

.recStart {
  color: #aa0000;
  -webkit-animation: color-change 0.3s;
  -moz-animation: color-change 0.3s;
  -o-animation: color-change 0.3s;
  -ms-animation: color-change 0.3s;
  animation: color-change 0.3s;
  animation-fill-mode: forwards; 
}

.startRec{
  display: none;
}

.stopRec{
  display: none;
}

.sound-wave{
  display: none;
}
