body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rcw-widget-container{
  left: calc(50% - 200px);
  bottom: unset !important;
  margin-top: 10% !important;
}

@media screen and (max-width: 800px){
  .rcw-widget-container.rcw-opened {
    left: unset;
    margin-top: unset !important;
  }
}
